#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  background-color: rgb(186, 6, 0);
  padding: 1rem;
  text-align: left;
  margin: 1rem;
  border-radius: 10px;
  border: 2px solid white;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
}

.coming-soon {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.87);
  margin-top: 1rem;
}

.dot {
  animation: dotPulse 1.5s infinite;
  opacity: 0;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dotPulse {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
